.wrap{
	background-color:slategray;
	height:500px;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
}
.wrap > div {
    height:30px;
	padding:0.5rem;
	background-color:skyblue;
	color:white;
}

.wrap > div{
	flex-grow:1;
	background-color:skyblue;
	height:200px;
	margin:0.2rem;
}

.wrap >div:nth-child(2){
     flex-grow:2;
}